@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(74, 74, 245), lightblue);
    width: 100vw;
    height: 100vh;
}
h1 {
    text-align: center;
    padding: 30px;
}
div#geral {
    margin: auto;
    background-color: white;
    display: flex;
    padding: 20px;
    height: 220px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
}
div#branco {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    width: 400px;
    height: 300px;
}
#candidato {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}
#candidato > h2 {
    text-align: center;
    padding-bottom: 15px;
}
#candidato > p {
    display: inline;
}
#fotopolitico {
    float: right;
    display: inline-block;
    padding: 5px;
    padding-right: 15px;
}
#fotopolitico > img {
    width: 100px;
}
#politico {
    float: left;
    display: inline-block;
    height: 100px;
    text-align: left;
    font-size: 0.8em;
    font-weight: bolder;
    padding: 5px;
    margin-top: 20px;
}
.numero {
    padding: 14px;
    border: 1px solid black;
    margin: 1px;
}
div#preto {
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.856);
    border-radius: 10px;
    padding: 10px;
    padding-top: 30px;
    text-align: center;
}
.num {
    display: inline-block;
    float: left;
    width: 30px;
    height: 20px;
    margin-left: 15px;
    margin-top: 2px;
    background-color: black;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}#b0 {
    margin-left: 60px;
}
.botao {
    font-size: 0.6em;
    font-weight: bolder;
}
#opcoes{
    padding: 0px;
    margin: 0px;
}
#bcorrige {
    padding: 5px;
    background-color: rgb(245, 27, 27);
    border-radius: 5px;
    border: 0px;
    margin-top: 15px;
    cursor: pointer;
}
#bconfirma {
    padding: 5px;
    background-color: green;
    border-radius: 5px;
    border: 0px;
    margin-top: 8px;
    cursor: pointer;
    height: 40px;
}
#bbranco {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: 0px;
    margin-top: 8px;
    cursor: pointer;
}
#configuracoes {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgb(110, 110, 110), rgb(185, 185, 185));
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.575);
}
.negrito {
    font-weight: bolder;
}
#lula {
    color: rgb(221, 4, 4);
}
#bolsonaro {
    color: rgb(255, 255, 0);
}
#fraude {
    -webkit-appearance: none;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer; 
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);
}
#off {
    margin-left: 108px;
}
#fim {
    display: block;
    padding: 3px;
    font-weight: bolder;
    margin: auto;
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.616);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.589);
}
#res {
    width: 400px;
    margin-top: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}