@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(61, 61, 231);
}
header {
    text-align: center;
    padding: 10px;
    color: white;
}
div#geral {
    display: block;
    margin: auto;
    padding: 20px;
    background-color: white;
    width: 400px;
    border-radius: 10px;
}
input#num {
    width: 120px;
}
input.add {
    padding: 2px;
    cursor: pointer;
}

div > p {
    padding: 10px;
}
input.botao {
    margin-top: 40px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.808);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.575);
    cursor: pointer;
}
select#campo {
    width: 200px;
}
div#res {
    padding: 10px;
}
footer {
    text-align: center;
    color: white;
    padding: 10px;
}